* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#color-palette-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#color-1 {
    background-color: #0C0A3E;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 24px;
}

#color-2 {
    background-color: #7B1E7A;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 24px;
}

#color-3 {
    background-color: #B33F62;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 24px;
}