/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/

.post-it {
    background-color: rgb(242, 242, 138);
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 24px;
    padding: 24px;
    font-family: cursive;
    box-shadow: 2px 2px 2px #00000033;
}

.big {
    font-size: 48px;
}

.pink {
    background-color: pink;
}

.green {
    background-color: rgb(111, 232, 111);
    
}

h2 {
    text-align: center;
    border: 2px solid red;
}

h5 {
    margin: 0px;
}

li {
    font-size: 14px;
}

img {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.push-pin {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-color: red;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #00000033;
}

.centered {
    text-align: center;
}