/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 5px solid black;
    background-color: antiquewhite;
    margin: 24px 48px;
    text-align: center;
}

#img1 {
    width: 100px;
    border: 10px solid rgb(82, 48, 3);
    background-color: rgb(199, 179, 152);
    margin: 48px 12px;
    padding: 10px;
}

#img2 {
    width: 150px;
    border: 10px solid rgb(82, 48, 3);
    margin: 48px 12px;
}
#img3 {
    width: 100px;
    border: 10px solid rgb(82, 48, 3);
    background-color: rgb(199, 179, 152);
    margin: 48px 12px;
    padding: 10px;
}